# SPDX-FileCopyrightText: 2021 Emmanuele Bassi
#
# SPDX-License-Identifier: CC0-1.0

root = true

[*]
indent_style = space
indent_size = 8
insert_final_newline = true
trim_trailing_whitespace = true
end_of_line = lf
charset = utf-8

[*.json]
indent_size = 2

[*.md]
max_line_length = 79

[meson.build]
indent_size = 4
