*.[ao]
*.l[ao]
*.pyc
*~
.deps/
.libs/
Makefile
Makefile.in
autom4te.cache/
/ChangeLog
/INSTALL
/ABOUT-NLS
/aclocal.m4
/m4
/build-aux
/compile
/config.*
/configure
/depcomp
/gtk-doc.make
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/ltmain.sh
libtool
/missing
/mkinstalldirs
/py-compile
/data/org.gnome.Devhelp.appdata.xml
/data/devhelp.defaults
/data/devhelp.schemas
/data/libdevhelp-3.0.pc
/data/org.gnome.Devhelp.desktop
/data/org.gnome.Devhelp.desktop.in
/data/org.gnome.Devhelp.service
/docs/reference/devhelp-decl-list.txt
/docs/reference/devhelp-decl.txt
/docs/reference/devhelp-undeclared.txt
/docs/reference/devhelp-undocumented.txt
/docs/reference/devhelp-unused.txt
/docs/reference/devhelp.args
/docs/reference/devhelp.hierarchy
/docs/reference/devhelp.interfaces
/docs/reference/devhelp.prerequisites
/docs/reference/devhelp.signals
/docs/reference/devhelp.types
/docs/reference/html-build.stamp
/docs/reference/html.stamp
/docs/reference/html/
/docs/reference/scan-build.stamp
/docs/reference/setup-build.stamp
/docs/reference/sgml-build.stamp
/docs/reference/sgml.stamp
/docs/reference/xml/
/po/*.gmo
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/POTFILES
/po/devhelp.pot
/po/stamp-it
/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/*.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/misc/gedit-plugin/devhelp.plugin
/misc/gedit-plugin/devhelp.plugin.desktop
/src/devhelp
/src/Devhelp-3.0.gir
/src/Devhelp-3.0.typelib
/src/dh-enum-types.c
/src/dh-enum-types.h
/src/dh-resources.c
/src/dh-resources.h
/stamp-h1
/data/org.gnome.devhelp.gschema.valid
