*.[ao]
*.l[ao]
*.pyc
.deps/
.libs/
Makefile
Makefile.in
autom4te.cache/
/ChangeLog
/INSTALL
/aclocal.m4
/build/compile
/build/config.guess
/build/config.sub
/build/depcomp
/build/install-sh
/build/ltmain.sh
/build/missing
/build/py-compile
/compile
/config.log
/config.guess
/config.h
/config.h.in
/config.status
/config.sub
/configure
/depcomp
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/ltmain.sh
libtool
/missing
/mkinstalldirs
/py-compile
/data/devhelp.defaults
/data/devhelp.schemas
/data/libdevhelp-1.0.pc
/data/devhelp.desktop
/data/devhelp.desktop.in
/po/*.gmo
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/POTFILES
/po/devhelp.pot
/po/stamp-it
/misc/gedit-plugin/devhelp.desktop
/misc/gedit-plugin/devhelp.gedit-plugin
/src/devhelp
/src/dh-marshal.c
/src/dh-marshal.h
/src/dh-enum-types.c
/src/dh-enum-types.h
/stamp-h1
