*.[ao]
*.l[ao]
*.pyc
*~
.deps/
.libs/
Makefile
Makefile.in
autom4te.cache/
/ChangeLog
/INSTALL
/ABOUT-NLS
/aclocal.m4
/m4
/build-aux
/compile
/config.*
/configure
/depcomp
/install-sh
/intltool-extract.in
/intltool-merge.in
/intltool-update.in
/ltmain.sh
libtool
/missing
/mkinstalldirs
/py-compile
/data/devhelp.defaults
/data/devhelp.schemas
/data/libdevhelp-3.0.pc
/data/devhelp.desktop
/data/devhelp.desktop.in
/po/*.gmo
/po/.intltool-merge-cache
/po/Makefile.in.in
/po/POTFILES
/po/devhelp.pot
/po/stamp-it
/po/Makevars.template
/po/Rules-quot
/po/boldquot.sed
/po/*.header
/po/insert-header.sin
/po/quot.sed
/po/remove-potcdate.sin
/misc/gedit-plugin/devhelp.desktop
/misc/gedit-plugin/devhelp.plugin
/src/devhelp
/src/dh-marshal.c
/src/dh-marshal.h
/src/dh-enum-types.c
/src/dh-enum-types.h
/src/dh-resources.c
/src/dh-resources.h
/stamp-h1
/data/org.gnome.devhelp.gschema.valid
